[submodule "tinycc"]
	path = src/tcc
	url = https://github.com/davidar/tinycc.git
[submodule "musl"]
	path = src/musl
	url = https://github.com/davidar/musl.git
[submodule "toybox"]
	path = src/toybox
	url = https://github.com/davidar/toybox.git
[submodule "dash"]
	path = src/dash
	url = https://github.com/davidar/dash.git
[submodule "sbase"]
	path = ports/posix/sbase
	url = git://git.suckless.org/sbase
[submodule "awk"]
	path = ports/bsd/awk
	url = https://github.com/onetrueawk/awk.git
[submodule "heirloom-ng"]
	path = ports/unix/heirloom-ng
	url = https://github.com/Projeto-Pindorama/heirloom-ng.git
[submodule "oksh"]
	path = src/oksh
	url = https://github.com/davidar/oksh.git
[submodule "perl5"]
	path = ports/lang/perl5
	url = https://github.com/Perl/perl5.git
[submodule "libretls"]
	path = ports/bsd/libretls
	url = https://git.causal.agency/libretls
[submodule "bsdar"]
	path = ports/bsd/bsdar
	url = https://github.com/AntumDeluge/bsdar.git
