[submodule "tinycc"]
	path = tinycc
	url = https://github.com/davidar/tinycc.git
[submodule "musl"]
	path = musl
	url = https://github.com/davidar/musl.git
[submodule "toybox"]
	path = toybox
	url = https://github.com/davidar/toybox.git
[submodule "dash"]
	path = dash
	url = https://git.kernel.org/pub/scm/utils/dash/dash.git
