[submodule "tinycc"]
	path = tinycc
	url = https://github.com/davidar/tinycc.git
[submodule "musl"]
	path = musl
	url = https://github.com/davidar/musl.git
[submodule "toybox"]
	path = toybox
	url = https://github.com/davidar/toybox.git
[submodule "dash"]
	path = dash
	url = https://git.kernel.org/pub/scm/utils/dash/dash.git
[submodule "make"]
	path = make
	url = https://git.savannah.gnu.org/git/make.git
[submodule "sbase"]
	path = sbase
	url = git://git.suckless.org/sbase
[submodule "awk"]
	path = awk
	url = https://github.com/onetrueawk/awk.git
[submodule "bash"]
	path = bash
	url = https://git.savannah.gnu.org/git/bash.git
[submodule "heirloom-ng"]
	path = heirloom-ng
	url = https://github.com/Projeto-Pindorama/heirloom-ng.git
[submodule "oksh"]
	path = oksh
	url = https://github.com/ibara/oksh.git
[submodule "m4"]
	path = m4
	url = git://git.sv.gnu.org/m4
[submodule "autoconf"]
	path = autoconf
	url = git://git.sv.gnu.org/autoconf
[submodule "perl5"]
	path = perl5
	url = https://github.com/Perl/perl5.git
